body{
    margin: 0%;
}
/*-----------------------NAV DE NAVEGAÇÃO TOP-------------------------------------------*/
.header-navbar{
    /*background-color:#ff69b4;*/  
    background-color: #ffcbbd;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar img{
    width: 30%;
    height: 30%;
    border: transparent;
  
}
.navbar ul {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    list-style: none;
}
.navbar a{
      padding: 14px;
      background-color: wheat;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 19px;
      border-bottom: #ffb6c1 solid;
      border-radius: 10px;
      color: #ef196b;
      letter-spacing: 0.6px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      width: 90%;
      align-items: center;
      
}
.navbar a:hover{
    background-color: #ef196b;
    color: wheat;
    border-bottom: #ffb6c1 solid;
}

/*-----------------------NAV DE NAVEGAÇÃO TOP-------------------------------------------*/

/*-----------------------SOBRE MIM BANER PRINCIPAL-------------------------------------------*/
.conteudo-sobremim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.conteudo-sobremim div{
    padding: 17px;
    text-align: center;
}
.conteudo-sobremim h1{
    color: rgb(148, 129, 92);
    text-align: center;
    font-size: 9.5rem;
    text-shadow: 4px 4px 2px #ffb6c1;
    margin: 5rem;
}
.conteudo-sobremim p {
    font-size: 1.1rem;
}
.containerBolos h1{
    text-align: center ;
    padding: 2.5rem;
    font-size: 3rem;
}
.containerBolos section{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    align-items: center;
    gap: 3rem;
}

/*------------------------------------NOSSOS BOLOS-------------------------------------------*/
.containerBolos h1{
      color: #ef196b;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-shadow: #ffb6c1 2px 2px 2px;
      font-size: 3.5rem;
      
}
.containerBolos article{
    text-align: center;
    padding: 3rem;
  /*  border: solid 3px  #ffcbbd;*/
      box-sizing: content-box;
}

.containerBolos section img{
    width: 100%;
    height: 310px;
    margin-bottom: 0;
    border: transparent;
}
.containerBolos article p{
    border-top:transparent ;
    margin-top: 0;
   margin-bottom: 50px;
   font-family: sans-serif;
   text-align:left;
   width:auto;
}
.containerBolos article a {
    background-color: #ffcbbd;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: #ef196b;
    border-radius: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.containerBolos article h2{
    letter-spacing: 1px;
    color: black;
    background-color: #ffcbbd;
    padding: 5px;
    margin-bottom: 0;
    font-size: 25px;
    border-radius: 2px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*------------------------------------NOSSOS BOLOS-------------------------------------------*/